@mixin img-responsive() {
	max-width: 100%;
	height: auto;
	display:block;
}

@mixin img-shadow($color) {
	background: $color;
	box-shadow: 0 2px 1px $color;	
}

@mixin center($vertical: 50%) {
	text-align: center;
	z-index: 100;
    position: absolute;
    left: 50%;
    top: $vertical;
    transform: translate(-50%, -50%);	
}

@mixin border($top, $right, $bottom, $left, $width: 1px, $color: $black ) {
	@if $top == true {
		border-top: solid $width $color;
	} @else {
		border-top: 0;
	}
	@if $right == true {
		border-right: solid $width $color;
	} @else {
		border-right: 0;		
	}
	@if $bottom == true {
		border-bottom: solid $width $color;
	} @else {
		border-bottom: 0;		
	}
	@if $left == true {
		border-left: solid $width $color;
	}	@else {
		border-left: 0;		
	}		
}

@mixin rounded-box($radius : 4px, $color: $smoke, $border-color: $iron) {
		border-radius: $radius;
		background: $color;
		overflow: hidden;
		border: solid 1px $border-color;	
}