body {

	font-family: 'Lato', sans-serif;


}


/* ================================= 
  MOBILE
==================================== */

	main {
		display: flex;
		flex-direction: column;
	}






/* ================================= 
  TABLET
==================================== */
	


/* ================================= 
  DESKTOP
==================================== */




