/* ================================= 
  Base Styles
==================================== */
body {
	font-family: $Lato;
	font-weight: 300;
}


h1, h2 {
	font-family: $heading-font-family;
} 


a {
  text-decoration: none;
  color: $oil;

  &:hover {
  	color: $twitter-blue;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

i {
	transition: all .4s ease-in-out;
}