.hero {

	@include elem('container') {
		// height: 100vh;
		position: relative;
		margin-bottom: $base-spacing;		
	}

	@include elem('heading') {
		font-size: modular-scale(4);
		font-family: 'Roboto', sans-serif;
		color: transparentize($smoke, .1);
		// text-shadow: 0 1px 0 transparentize($oil, .1);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;		
		@include center(40%);
	}

	@include elem('navlink') {
		@include center(70%);
		i {
			max-width: 42px;
			border-radius: 50%;
			// padding: $base-spacing / 4;
			// background: transparentize($base, .2);
			color: transparentize($smoke, .2);
			font-size: 3em;
			&:hover {
				color: transparentize($twitter-blue, .2);
				cursor: pointer;
			}
		}
	}

	@include elem('background') {
		background-size: cover;	      
		min-width: 100%;
		min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    opacity: .5;
	}

	@include elem('backdrop') {
		position: absolute;
		top: 0;
		width: 100%;
		min-height: 100%;
		z-index: -200;
		background: linear-gradient(180deg, $twitter-blue, $black);		
	}

}

.video-container {

}

	.video-background {
	  // background: linear-gradient(45deg#ffa949,transparent 90%),
	  //             linear-gradient(0deg, $red, transparent 30%);

	}

	.video-backdrop {

	}