.navigation-header {
	width: 100%;
	background: $vapor;
	min-height: 75px;
	border-bottom: solid 1px $gainsboro;
}

.navbar {
  @include grid-container;	

  @include elem('brand') {
  	@include grid-column(1, $section-layout-grid);
  	margin-left: 0;

  	@include grid-media($section-layout-grid--tablet-up) {
			@include grid-column(6);  		
  	}
  }

	@include elem('logo') {
  	padding-top: $base-spacing / 2;
  	display: inline-block;  	 		
		// border: dotted 1px $base;
  	@include grid-column(1);
		img {
			min-width: 50px;
			width: 50px;
			height: auto;
		}
	}

	@include elem('heading') {
  	@include grid-column(3);
  	display: inline-block;
  	padding-top: $base-spacing;
  	margin-left: $base-spacing * 2;

		@include grid-media($section-layout-grid--tablet-up) {
  		margin-left: $base-spacing * 2;			
		}

	}

	@include elem('nav') {
		display: none;

		@include grid-media($section-layout-grid--tablet-up) {
			display: block;
			@include grid-column(6);					
	  	padding-top: $base-spacing;
  	}
	}

	@include elem('menulist') {
		// padding-left: $base-spacing;
		display: flex;
		justify-content: flex-end;
		margin-right: $base-spacing * 1.5;

		li {
			margin-right: $base-spacing * 2;
		}

	}

	@include elem('menu-toggle') {
		z-index: 9999;
		position: fixed;
		top: 1em;
		right: 1em;
		i {
			max-width: 42px;
			border-radius: 50%;
			padding: $base-spacing / 4;
			background: $base;
			
			&:hover {
				background: $twitter-blue;
				cursor: pointer;
			}

		}

	}		


}