
.offcanvas-fade-screen {
  @include position(fixed, 0);
  opacity: 0;
  transition: all .4s ease-in-out;
  visibility: hidden;
  z-index: 1999;
	background: $jet;

	@include mod('show') {
		opacity: .7;
		visibility: visible;
	}
}

.offcanvas-nav {
	@include position(fixed, 0 auto 0 0);
	width: 400px;
	height: 100%;
	transform: translateX(calc(100vw + 400px));	
	background: transparentize($vapor, .1);
	transition: all .4s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	overflow-y: auto;

	@include elem('wrapper') {

	}

	@include elem('menulist') {

	}

	@include elem('list-item') {
		display: block;
		width: 100%;
		text-align: center;
		padding: $base-spacing;

		a {
			font-size: modular-scale(2);
		}
	}


	@include mod('show') {
		transform: translateX(calc(100vw - 400px));			
	}	
	// &.show {
	// 	// @include position(absolute, 0 0 null null);

	// }
}
