.evolution {
	// @include section();
	padding-top: $base-spacing;
	padding-bottom: $base-spacing; 

	@include elem('layout') {
		@include grid-container;
  	// @include grid-visual;	

  	// min-height: 400px;	
			max-width: 100%;
			margin: $base-spacing auto;  	

 		@include grid-media($section-layout-grid--tablet-up) {
			max-width: 90%;
			margin: $base-spacing auto;

  		min-height: 500px;	 			
 		} 		  		
	}

	// .container {
	// 	@include grid-container;
 //  	// @include grid-visual;
 //  	display: flex;

 //  	min-height: 400px;				
	// }

	@include elem('title-mobile') {
		font-family: 'Roboto', sans-serif;
		@include grid-column(1, $section-layout-grid);

		@include grid-media($section-layout-grid--tablet-up) {
			display: none;
			// @include grid-column(6);
			// @include grid-shift(6);
					
		}
	}



	@include elem('heading') {
		font-family: 'Roboto', sans-serif;
		@include mod('tablet-up') {	
			display: none;

			@include grid-media($section-layout-grid--tablet-up) {
				display: block;
			}
		}


	}	

	@include elem('copy') {
		@include grid-column(1, $section-layout-grid);
		display: table;

		@include grid-media($section-layout-grid--tablet-up) {
			@include grid-column(5);
			min-height: 400px;
		}

	}

	@include elem('paragraph') {

		// flex: 1 1 100%;		

		@include grid-media($section-layout-grid--tablet-up) {
			// @include grid-shift(6);

		  display: table-cell;
		  vertical-align: middle;
			// transform: translateY(50%);
						
		}					
	}

	@include elem('story') {
		color: $jumbo;
		font-weight: 300;
	}	

	@include elem('images') {
		// position: relative;		
		@include grid-column(1, $section-layout-grid);

		@include grid-media($section-layout-grid--tablet-up) {
			@include grid-column(7);
			// margin-top: $base-spacing * -4;
			
		}
	}


	@include elem('images-wrapper') {
		position: relative;
		height: 300px;

		@include grid-media($section-layout-grid--tablet-up) {
			height: 400px;			
		}					
	}

	@include elem('calibrate') {
		width: 33%;
		@include position( absolute, $base-spacing $base-spacing null null);

		img {
			@include img-responsive();
			@include img-shadow(transparentize($charcoal, .5));
		}
	}			

	@include elem('pcb') {
		width: 33%;
		@include position( absolute, 50% null null 50%);
		// text-align: center;
		// margin-left: auto;
		// margin-right: auto;
		transform: translate(-50%, -50%);
		img {
			@include img-responsive();
			@include img-shadow(transparentize($charcoal, .5));
		}		
	}	

	@include elem('schematic') {
		width: 33%;
		@include position( absolute, null null $base-spacing $base-spacing);
		img {
			@include img-responsive();
			@include img-shadow(transparentize($monsoon, .5));	
		}		
	}		

}

