.features {
	padding-top: $base-spacing;
	padding-bottom: $base-spacing; 

	@include elem('layout') {
		@include grid-container;
		width: 100%;
		// background: $smoke;		
	}

	@include elem('col'){

		@include grid-column(1, $gallery-layout-grid);

		@include grid-media($gallery-grid--tablet-up) {
			@include grid-column(6);
		}

		@include mod('one') {

		}		

		@include mod('two') {
		
		}					

	}	

	@include elem('image-wrapper') {
		width: 100%;
		position: relative;

		img {
			@include img-responsive();
			margin: 0 auto;
		}
	}

	@include elem('icon') {
		border-radius: 50%;
		background: $base;
		position: absolute;
		color: $oil;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 5px;  
		padding-bottom: 5px;  
		// padding: 5px;
  	transition: all .4s ease-in-out;

		&:hover {
			background: $twitter-blue;
		}

		@include mod('1') {
			bottom: 35%;
			left: 10%;
		}

		@include mod('2') {
			bottom: 16%;
			left: 29%;						
		}		

		@include mod('3') {
			top: 33%;
			left: 33%;						
		}	

		@include mod('4') {
			bottom: 40%;
			right: 30%;						
		}	

		@include mod('5') {
			top: 15%;
			right: 15%;						
		}						

	}

	@include elem('content') {
		padding: $base-spacing;
		text-align: center;

		@include grid-media($gallery-grid--tablet-up) {
			text-align: left;			
		}		
	}

	@include elem('list') {
		margin-bottom: $base-spacing;
	}
}