.evolution {

	padding-top: $base-spacing;
	padding-bottom: $base-spacing; 

	@include elem('layout') {
		@include grid-container;
			max-width: 100%;
			margin: $base-spacing auto;  	

 		@include grid-media($section-layout-grid--tablet-up) {
			max-width: 90%;
			margin: $base-spacing auto;

  		min-height: 500px;	 			
 		} 		  		
	}

	@include elem('title-mobile') {
		font-family: 'Roboto', sans-serif;
		@include grid-column(1, $section-layout-grid);

		@include grid-media($section-layout-grid--tablet-up) {
			display: none;				
		}
	}



	@include elem('heading') {
		font-family: 'Roboto', sans-serif;
		@include mod('tablet-up') {	
			display: none;

			@include grid-media($section-layout-grid--tablet-up) {
				display: block;
			}
		}


	}	

	@include elem('copy') {
		@include grid-column(1, $section-layout-grid);
		display: table;

		@include grid-media($section-layout-grid--tablet-up) {
			@include grid-column(5);
			min-height: 400px;
		}

	}

	@include elem('paragraph') {

		@include grid-media($section-layout-grid--tablet-up) {

		  display: table-cell;
		  vertical-align: middle;
						
		}					
	}

	@include elem('story') {
		color: $muted;
		font-weight: 300;
	}	

	@include elem('images') {
		@include grid-column(1, $section-layout-grid);

		@include grid-media($section-layout-grid--tablet-up) {
			@include grid-column(7);		
		}
	}


	@include elem('images-wrapper') {
		position: relative;
		height: 300px;

		@include grid-media($section-layout-grid--tablet-up) {
			height: 400px;			
		}					
	}

	@include elem('calibrate') {
		width: 33%;
		@include position( absolute, $base-spacing $base-spacing null null);

		img {
			@include img-responsive();
			@include img-shadow(transparentize($charcoal, .5));
		}
	}			

	@include elem('pcb') {
		width: 33%;
		@include position( absolute, 50% null null 50%);

		transform: translate(-50%, -50%);
		img {
			@include img-responsive();
			@include img-shadow(transparentize($charcoal, .5));
		}		
	}	

	@include elem('schematic') {
		width: 33%;
		@include position( absolute, null null $base-spacing $base-spacing);
		img {
			@include img-responsive();
			@include img-shadow(transparentize($monsoon, .5));	
		}		
	}		

}

