.features {
	padding-top: $base-spacing * 2;
	padding-bottom: $base-spacing; 

	@include elem('layout') {
		@include grid-container;
		width: 100%;
		// background: $smoke;		
	}

	@include elem('col'){

		@include grid-column(1, $gallery-layout-grid);

		@include grid-media($gallery-grid--tablet-up) {
			@include grid-column(6);
		}

		@include mod('one') {

		}		

		@include mod('two') {
		
		}					

	}	

	@include elem('image-wrapper') {
		width: 100%;
		position: relative;

		img {
			@include img-responsive();
			margin: $base-spacing auto 0;
		}
	}

	@include elem('icon') {
		border-radius: 50%;
		background: $base;
		position: absolute;
		color: $oil;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 5px;  
		padding-bottom: 5px;  
		// padding: 5px;
  	transition: all .4s ease-in-out;

		&:hover {
			background: $twitter-blue;
		}

		@include mod('1') {
			bottom: 39%;
			left: 12%;
		}

		@include mod('2') {
			bottom: 17%;
			left: 29%;						
		}		

		@include mod('3') {
			top: 33%;
			left: 33%;						
		}	

		@include mod('4') {
			bottom: 42%;
			right: 30%;						
		}	

		@include mod('5') {
			top: 2%;
			right: 14%;						
		}						

	}

	@include elem('content') {
		padding: $base-spacing;
		text-align: center;

		@include grid-media($gallery-grid--tablet-up) {
			text-align: left;
			margin-top: $base-spacing / 1.5;			
		}		
	}

	@include elem('heading') {
		font-size: modular-scale(2);
		color: $tuatara;
	}

	@include elem('subheading') {
		@include subheading();
	}	

	@include elem('list') {
		margin-bottom: $base-spacing;
		font-weight: 100;
	}

	@include elem('list-item') {
			color: $muted;


		@include mod('highlight') {
  		transition: all .4s ease-in-out;
			color: $twitter-blue;	
		}
	}

	@include elem('cta') {
		background: $twitter-blue;
	}	
}